<div id="gb-page" class="hp [$SiteAlias$]">
	<header>
		<section id="gb-header-outer">
			<div id="gb-header" class="gb-section">
				<div id="header-left">
					<div id="gb-logo" class="hidden"></div>
					<div id="gb-sitename"></div>
				</div>
				<div id="header-right">
					<div id="gb-mystart">
						<div class="cs-mystart-dropdown translate"></div>
						<a class="cs-mystart-button home" href="/"><span class="district">District Home</span></a>
						<div class="cs-mystart-dropdown user-options">
		                    <div class="cs-selector district" tabindex="0" aria-label='User Options' role="button" aria-expanded="false" aria-haspopup="true"><span>User Options</span></div>
		                    <div class="cs-dropdown" aria-hidden="true" style="display:none;">
		                        <ul class="cs-dropdown-list"></ul>
		                    </div>
		                </div>
						<a class="cs-mystart-button guest signin" href="/site/Default.aspx?PageType=7&SiteID=[$SiteID$]&IgnoreRedirect=true"><span>Sign In</span></a>
						<a class="cs-mystart-button guest register" href="/site/Default.aspx?PageType=10&SiteID=[$SiteID$]"><span>Register</span></a>
						<a class="cs-mystart-button sitemap" href="/site/Default.aspx?PageType=15&SiteID=[$SiteID$]&SectionMax=15&DirectoryType=6"><span>Site Map</span></a>
							<div id="gb-search">
							<button id="search-control" aria-label="Toggle Search" aria-expanded="false" aria-controls="gb-search-form" class="district-font"><span class="a11y">Toggle Search</span></button>
							<form id="gb-search-form" aria-hidden="true">
			                    <label for="gb-search-input" class="a11y">Search this site</label>		
			                    <input type="text" id="gb-search-input" value="I'm looking for...">
			                </form>
						</div>
					</div>
					
					<div id="gb-social-icons" class="hide480">
						<a class="social-icon facebook" aria-label="Facebook" href='<SWCtrl controlname="Custom" props="Name:facebookUrl" />' data-toggle='<SWCtrl controlname="Custom" props="Name:showFacebookIcon" />'><span class="district"></span></a>
	                    <a class="social-icon twitter" aria-label="Twitter" href='<SWCtrl controlname="Custom" props="Name:twitterUrl" />' data-toggle='<SWCtrl controlname="Custom" props="Name:showTwitterIcon" />'><span class="district"></span></a>
	                    <a class="social-icon youtube" aria-label="YouTube" href='<SWCtrl controlname="Custom" props="Name:youtubeUrl" />' data-toggle='<SWCtrl controlname="Custom" props="Name:showYoutubeIcon" />'><span class="district"></span></a>
	                    <a class="social-icon linked-in" aria-label="Linked In" href='<SWCtrl controlname="Custom" props="Name:linkedInUrl" />' data-toggle='<SWCtrl controlname="Custom" props="Name:showLinkedInIcon" />'><span class="district"></span></a>
	                    <a class="social-icon google-plus" aria-label="Google Plus" href='<SWCtrl controlname="Custom" props="Name:googlePlusUrl" />' data-toggle='<SWCtrl controlname="Custom" props="Name:showGooglePlusIcon" />'><span class="district"></span></a>
	                    <a class="social-icon instagram" aria-label="Instagram" href='<SWCtrl controlname="Custom" props="Name:instagramUrl" />' data-toggle='<SWCtrl controlname="Custom" props="Name:showInstagramIcon" />'><span class="district"></span></a>
	                    <a class="social-icon pinterest" aria-label="Pinterest" href='<SWCtrl controlname="Custom" props="Name:pinterestUrl" />' data-toggle='<SWCtrl controlname="Custom" props="Name:showPinterestIcon" />'><span class="district"></span></a>
	                    <a class="social-icon flickr" aria-label="Flickr" href='<SWCtrl controlname="Custom" props="Name:flickrUrl" />' data-toggle='<SWCtrl controlname="Custom" props="Name:showFlickrIcon" />'><span class="district"></span></a>
	                    <a class="social-icon vimeo" aria-label="Vimeo" href='<SWCtrl controlname="Custom" props="Name:vimeoUrl" />' data-toggle='<SWCtrl controlname="Custom" props="Name:showVimeoIcon" />'><span class="district"></span></a>
	                    <a class="social-icon peachjar" aria-label="Peach Jar" href='<SWCtrl controlname="Custom" props="Name:peachjarUrl" />' data-toggle='<SWCtrl controlname="Custom" props="Name:showPeachjarIcon" />'><span class="district"></span></a>
					</div>
				</div>
			</div>
			
		</section>
		<nav>
			<section id="gb-channel-list-outer" class="gb-section">
				<div id="gb-channel-list" class="hide768">
					[$ChannelListNavigation props="DisplayType:Text;SectionMax:<SWCtrl controlname="Custom" props="Name:sectionMax" />;DirectoryType:6;DisplayHomeButton:<SWCtrl controlname="Custom" props="Name:showHomeChannel" />;DisplayCalendarButton:<SWCtrl controlname="Custom" props="Name:showCalendarChannel" />;HideSingleSectionDD:<SWCtrl controlname="Custom" props="Name:hideSingleSectionDD" />"$]
				</div>
			</section>
		</nav>
	</header>
	<main>
		<section id="hp-slideshow-outer">
			<div id="hp-slideshow">
				[$ContentRegion props="ContainerNumber:10"$]
			</div>
		</section>
		<section id="gb-icons-outer">
			<div id="gb-icons" class="gb-section"></div>
		</section>
		<section id="hp-announcements" class="gb-section">
			<swctrl controlname="SkipNav" props="" />
			[$ContentRegion props="ContainerNumber:1"$]
		</section>
		<section id="hp-content" class="gb-section">
			<div id="hp-column-wrapper-one">
				<div class="hp column one border-box">
					[$ContentRegion props="ContainerNumber:2"$]
				</div>
				<div class="hp column two border-box">
					[$ContentRegion props="ContainerNumber:3"$]
				</div>
			</div>
			<div id="hp-column-wrapper-two">
				<div class="hp column three border-box">
					[$ContentRegion props="ContainerNumber:4"$]
				</div>
			</div>
		</section>
	</main>
	<footer>
		<section id="gb-footer" class="gb-section">
			<div class="footer-column one hide768">
			<!-- <SWCtrl controlname="Custom" props="Name:footerLogo" /> -->
				<img src="/cms/lib9/SWCS000009/Centricity/template/globalassets/images/logos/footer-logo.png" alt="[$SiteName$] Logo">
			</div>
			<div class="footer-column two">
				<h2 class="footer-title">Get in Touch with Us</h2>
				<ul id="site-contact-info" class="footer-list hide480">
					<li><i class="district-font map"></i>[$SiteAddressOne$]<br/>[$SiteCity$], [$SiteState$] [$SiteZip$]</li>
					<li><i class="district-font phone"></i><a class="phone-num" href="tel:[$SiteContactPhone$]">[$SiteContactPhone$]</a></li>
					<li><i class="district-font fax"></i><a class="phone-num" href="tel:[$SiteContactFax$]">(908) 526-9668</a></li>
				</ul>
			</div>
			<div class="footer-column three">
			<h2 class="footer-title">Quick Links</h2>
			<ul id="footer-quick-links" class="footer-list">
				<li>
					<a style="display:block;" href='<SWCtrl controlname="Custom" props="Name:twtURL" />' target="_blank">
						<span class="img hide480"><img src="/cms/lib9/SWCS000009/Centricity/template/globalassets/images/images/ql-twitter.png" alt=""></span>
						<span class="text">#allin4theVille</span>
					</a>
				</li>
				<li>
					<a style="display:block;" href='<SWCtrl controlname="Custom" props="Name:twURL" />' target="_blank">
						<span class="img hide480"><img src="/cms/lib9/SWCS000009/Centricity/template/globalassets/images/images/ql-s.png" alt=""></span>
						<span class="text">TheVille App</span>
					</a>
				</li>
				<li>
					<a style="display:block;" href='<SWCtrl controlname="Custom" props="Name:ytURL" />' target="_blank">
						<span class="img hide480"><img src="/cms/lib9/SWCS000009/Centricity/template/globalassets/images/images/ql-envelope.png" alt=""></span>
						<span class="text">Contact</span>
					</a>
				</li>
				<li>
					<a style="display:block;" href='<SWCtrl controlname="Custom" props="Name:liURL" />' target="_blank">
						<span class="img hide480"><img src="/cms/lib9/SWCS000009/Centricity/template/globalassets/images/images/ql-s.png" alt=""></span>
						<span class="text">About Us</span>
					</a>
				</li>	
			</ul>
			</div>
			<div class="footer-column four">
				<h2 class="footer-title">Connect with Us</h2>
				<ul id="footer-social" class="footer-list">
					<li>
						<a style="display:block;" href='<SWCtrl controlname="Custom" props="Name:twtURL" />' target="_blank" class="tim">
							<span class="img"><img src="/cms/lib9/SWCS000009/Centricity/Template/30/ico-tim.png" alt=""></span>
							<span class="text hide480">Talk w/ Tim</span>
						</a>
					</li>
					<li>
						<a style="display:block;" href='<SWCtrl controlname="Custom" props="Name:twURL" />' target="_blank" class="twitter">
							<span class="img"><img src="/cms/lib9/SWCS000009/Centricity/Template/30/ico-twitter.png" alt=""></span>
							<span class="text hide480">Twitter</span>
						</a>
					</li>
					<li>
						<a style="display:block;" href='<SWCtrl controlname="Custom" props="Name:ytURL" />' target="_blank" class="youtube">
							<span class="img"><img src="/cms/lib9/SWCS000009/Centricity/Template/30/ico-youtube.png" alt=""></span>
							<span class="text hide480">YouTube</span>
						</a>
					</li>
					<li>
						<a style="display:block;" href='<SWCtrl controlname="Custom" props="Name:liURL" />' target="_blank" class="linkedin">
							<span class="img"><img src="/cms/lib9/SWCS000009/Centricity/Template/30/ico-linkedin.png" alt=""></span>
							<span class="text hide480">Linked In</span>
						</a>
					</li>		
				</ul>
			</div>
		</section>
		<section id="bb-footer-outer">
			<div id="gb-bb-footer" class="ui-clear">
				<div class="gb-bb-footer logo"></div>
				<div id="gb-schoolwires-footer-links-copyright">
					<div class="gb-bb-footer links ui-clear"></div>
					<div class="gb-bb-footer copyright"></div>
				</div>
			</div>
			<a id="sitemap-link" class="district-font" href="/site/Default.aspx?PageType=15&SiteID=[$SiteID$]&SectionMax=15&DirectoryType=6">
				<span class="a11y">Site Map</span>
			</a>
		</section>
	</footer>
</div>